{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/admin/local.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

<div class="container">
    
    <div class="card">
        <a href="{{path('stage1')}}">
            <div class="linkToStage">
                Étage 1
            </div>
        </a>
        <a href="{{ path('localDetails', {local: "2106"}) }}">
            <div class="horizontalLocal" id="local2106">
                <p>2106</p>
            </div>
        </a>
        <a href="{{ path('localDetails', {local: "2503"}) }}">
            <div class="verticalLocal" id="local2503">
                <p>2503</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
