.noDataMessage p,
.noDataMessage a {
  margin-top: 50px;
  color: white;
  font-size: 30px;
}

.noDataMessage a {
  text-decoration: underline;
}

.noDataMessage a:hover {
  text-decoration: none;
  opacity: 50%;
  transition: 0.5s;
}
